:root 
{
    --main-color:#52D273;
    --secondary-color:#E5C453;
    --main-black-color:#121212;
    --main-grey-color:#5b5e63;
    --main-white-color:#ededed;
    --main-body-color:#fffef9;
}

body
{
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}


.wrapp
{
	height: 400vh;
	background: var(--main-body-color);
	padding-left: 0;
	padding-right: 0;
	z-index: 1;
	
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper2, #wrapper3
{
	height: 200vh;
}

.wrapp.toggled
{
	padding-left: 250px;
}

#sidebar-wrapper
{
	z-index: 0;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	
	background: #2f363d;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.wrapp.toggled #sidebar-wrapper
{
	width: 250px;
}

#page-content-wrapper
{
	color: #ffffff;
	margin-top: 50px;
	width: 100%;
	position: absolute;
	padding: 15px;
	brder: 2px solid red;
}

.wrapp.toggled #page-content-wrapper
{
	position: absolute;
	margin-right: -250px;
}

#menuDiv
{
	position:fixed;
	top: 0;
	background: white;
	height: 50px;
	width: 100%;
	z-index: 2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 10px rgba(0,0,0,0.24);
	transition: top .5s ease-in-out;
}

#menuIconDiv
{
	position: absolute;
	padding: 0;
	padding-top: 7px;
	background: transparent;
	margin-top: 4px;
	height: 42px;
	width: 42px;
	border-radius: 25px;
	/*border: 1px solid white;*/
	border: 1px solid transparent;
	opacity: .8;
	transition: all .5s ease-in-out;
}

#menuIconDiv:hover
{
	opacity: 1;
	background: #dbdbdb;
	/*border: 1px solid #414c56;*/
	transition: all .2s ease-in-out;
}

#menuIconDiv:hover #menuLineTop
{
	width: 35%;
	background: black;
	transform: rotate(30deg)translate(6px, 1px);
}
#menuIconDiv:hover #menuLineMid
{
	background: black;
}
#menuIconDiv:hover #menuLineBot
{
	width: 35%;
	background: black;
	transform: rotate(-30deg)translate(6px, -1px);
}

#menuLineTop, #menuLineMid, #menuLineBot
{
	background: #000000;
	padding: 0;
	width: 50%;
	height: 2px;
	margin: 0 auto;
	margin-top: 5px;
	transition: all .2s ease-in-out;
}

.wrapp.toggled #menuIconDiv:hover #menuLineTop
{
	width: 35%;
	background: black;
	transform: rotate(-30deg)translate(-6px, 1px);
}

.wrapp.toggled #menuIconDiv:hover #menuLineBot
{
	width: 35%;
	background: black;
	transform: rotate(30deg)translate(-6px, -1px);
}


/* Sidebar Styles */

.sidebar-nav
{
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li
{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #999999;
	transition: all .2s ease-in-out;
}

.sidebar-nav li a:hover
{
	text-decoration: none;
	color: #ffffff;
	background: #d32c42;
	transition: all .2s ease-in-out;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus
{
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand
{
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a
{
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover
{
	color: #fff;
	background: none;
}

#body1, #body2
{
	background: var(--main-body-color);
	font-family: 'Poppins', sans-serif;
	height: 520vh;
	padding: 0;
	overflow-x: hidden;
}

#body2
{
	height: 100vh;
}

#navRow
{
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 135px;
	/*background: #333333;*/
	background: rgba(255, 255, 255, .1);
/*	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

#navRowInner
{
	position: absolute;
	width: 100%;
	height: 300px;
	/*bottom: 0;*/
}

#navBtn
{
	color: #000000;
	padding-left: 0;
	transition: all .2s ease-in-out;
}

#navBtn:hover
{
	color: #fc1b3a;
	transition: all .2s ease-in-out;
}

#cecorIcon
{
	background-image: url(/assets/cecorIcon.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	color: transparent;
}

#contMain
{
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	padding: 0;
	padding-right 27px;
	
/*	padding-left: 120px;*/
}

#contMain2, #contMain4, #contMain5, #contMain6, #contMain7
{
	background: #dbdfe3;
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

#contMain7
{
	height: 240vh;
}

#contMain3
{
	background: var(--main-body-color);
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

#contMain4
{
	height: 120vh;
	padding: 0;
}

#contMain5
{
	background: var(--main-body-color);
}


#contMain6
{
	padding-top: 50px;
	background: #263033;
}

#main2Div
{
	margin: 0 auto;
	padding: 0;
}

#topSpace
{
	height: 50px;
	width: 100%;
}

#particles-js
{
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
	margin: 0 auto;
	padding: 0;
	/*padding-left: 120px;*/
    height: 100vh;
	width: inherit;
	overflow: hidden;
}

#splashBoxOuter, #splashBoxOuter2
{
	height: 300px;
	width: 100%;
	padding: 0;
	margin-top: 25vh;
	z-index: 1;
	text-align: center;
}

#splashBoxOuter2
{
	margin: 0 auto;
	margin-top: 10vh;
	padding: 0;
	height: 100%;
	width: 100vw;
}


#splashBoxInner
{
	
	position: relative;
	background-image: url(/assets/CECORFullVert.png);
	background-size: cover;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 55vh;
	width: 300px;
	padding: 0;
	text-align: center;
	/*
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	*/
	-webkit-filter: drop-shadow(0px 3px 15px #a3a3a3);
	filter: drop-shadow(0px 13px 15px #a3a3a3);
	z-index: 1;
	transition: all .2s ease-in-out;
	
	/*
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	border-radius: 25px;
	*/
}

#splashBoxInner:hover
{
	/*	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	*/
	-webkit-filter: drop-shadow(0px 13px 10px #a3a3a3);
	filter: drop-shadow(0px 13px 10px #a3a3a3);
	transition: all .2s ease-in-out;
	
	/*	
	background-color: #f4cd32;
	*/
}

#splashBoxInner2
{
	margin: 0 auto;
	padding: 0;
	width: 100vw;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
	/*	border: 1px solid red;*/
}

#splashInnerTitle
{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	margin-top: 10px;
	font-size: 22px;
}

#scrollDiv
{
	position: absolute; 
	bottom: 0;
	height: 10vh;
	z-index: 1;
}

#scrollDiv2
{
	margin: 0 auto;
	height: 10vh;
	z-index: 1;
}

#scrollLink
{
    height: 100%;
}

#scrollBtn
{
    background: transparent;
    height: 100%;
    width: 55px;
    opacity: 1;
    text-align: center;
	padding: 0;
    margin: 0 auto;
}

#navArrow
{
	position: relative;
    color: #000000;
    font-size: 45px;
    animation: navMove 1.7s infinite;
	transition: all .2s ease-in-out;
}

#navArrow:hover
{
    color: #434a56;
	transition: all .2s ease-in-out;
}

@keyframes navMove 
{
    0%
    {
        opacity: 0;
        top: 0px;
    }
    
    55%
    {
        opacity: 1;
    }
    
    100%
    {
        opacity: 0;
        top: 30px;
    }
}

#aboutTitle1, #aboutTitle2, #aboutTitle3, #aboutTitle4
{
/*	padding-left: 120px;*/
	height: 7vh;
	padding-top: 10px;
	margin-bottom: 10px;
	
	text-align: center;
	font-size: 30px;
	font-weight: 00;
	font-family: 'Poppins', sans-serif;
	text-decoration:none;
}

#aboutTitle4
{
	font-size: 25px;
}

#contSub
{
/*	padding-left: 120px;*/
	margin-bottom: 30px;
	color: #666666;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.carousel-inner
{
	height: 25vh;
}

#aboutOuter
{
	padding-left: 10px;
	padding-right: 10px;
/*	padding-left: 120px;*/
}

#aboutOuterT
{
	padding: 0;
}

#aboutPic
{
	/*background-color: #fcfbf4;*/
	background-image: url(/assets/CECOR_circleUpdate.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 40vh;
	margin-bottom: 20px;
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	/*border: 1px solid teal;*/
}



#aboutText
{
	text-align: left;
	background-color: #ffffff;
	height: 35vh;
	width: 100%;
	padding: 20px;
	font-size: calc(13px + (15 - 13) * ((100vw - 780px) / (1600 - 780)));
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	/*border: 1px solid teal;*/
}


.carousel-item
{
	/*height: 35vh;*/
	height: 100%;
	width: 100;
	margin: 0 auto;
	background: #ffffff;
	padding: 20px;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 35px;
	font-size: 14px;
	text-align: center;
}

#carouselExampleIndicators, #carouselExampleIndicators2
{
	margin: 0 auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-align: center;
}

#carouselExampleIndicators2
{
	margin-left: 10px;
	margin-right: 10px;
}

#caroInner1
{
	height: 600px;
}

#carouselExampleIndicators2
{
	height: 600px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 100px;
	width: 100px;
	background-size: 100%, 100%;
	background-image: none;
	text-align: center;
	
}

.carousel-control-next-icon:after
{
	content: '>';
	font-size: 55px;
	color: grey;
	opacity: .3;
}

.carousel-control-prev-icon:after
{
	content: '<';
	font-size: 55px;
	color: grey;
	opacity: .3;
}

.carousel-indicators li
{
  	background-color: #999;
  	background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active 
{
  	background-color: #444;
}

.carousel-inner
{
	margin: 0 auto;
	padding: 0 auto;
}

#longTxt
{
	font-size: 9px;
}

#nsuLink
{
	text-decoration: none;
	color: #52d273;
	transition: all .2s ease-in-out;
}

#nsuLink:hover
{
	text-decoration: none;
	color: #f4cd32;
	transition: all .2s ease-in-out;
}


/*
#learnMoreOuter
{
	padding-top: 20px;
	height: 20%;
	width: 100%;
	text-align: center;
}

#learnMoreBtn
{
	background: transparent;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/assets/TransparentPlaceholder.svg.png);
	color: #67e01d;
	border: 1px solid #67e01d;
	transition: all .5s ease-in-out;
}

#learnMoreBtn:hover
{
	background-image: url(/assets/linear-green-gradient-blue.svg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	border: 1px solid #67e01d;
	transition: all .3s ease-in-out;
}
*/

#partnRow
{
	height: 15vh;
	padding-left: 30px;
	padding-right: 30px;
}

#partnCol1, #partnCol2, #partnCol3, #partnCol4, #partnCol5, #partnCol6, #partnCol7, #partnCol8, #partnCol9, #partnCol10, #partnCol11, #partnCol12, #partnCol13, #partnCol14, #partnCol15, #partnCol16, #partnCol17
{

	padding: 5px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	color: black;
	transition: all .2s ease-in-out;
/*	border: 1px solid blue;*/
}

#partnInnerRow
{
	background-color: var(--main-body-color);
	padding: 5px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all .2s ease-in-out;
}

#partnInnerRow:hover
{
	background-color: #ffffff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all .2s ease-in-out;
}

#partnPic1, #partnText1, #partnPic2, #partnText2, #partnPic3, #partnText3, #partnPic4, #partnText4, #partnPic5, #partnText5, #partnPic6, #partnText6, #partnPic7, #partnText7, #partnPic8, #partnText8, #partnPic9, #partnText9, #partnPic10, #partnText10, #partnPic11, #partnText11, #partnPic12, #partnText12, #partnPic13, #partnText13, #partnPic14, #partnText14, #partnPic15, #partnText15, #partnPic16, #partnText16, #partnPic17, #partnText17
{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 50%;
	text-align: center;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#partnPic1
{
	background-image: url(/assets/allenu.png);
}

#partnPic2
{
	background-image: url(/assets/benedict.png);
}

#partnPic3
{
	background-image: url(/assets/bowie.png);
}

#partnPic4
{
	background-image: url(/assets/charleston.jpg);
}

#partnPic5
{
	background-image: url(/assets/Claflin-Logo.png);
}

#partnPic6
{
	background-image: url(/assets/clarkatl.png);
}

#partnPic7
{
	background-image: url(/assets/denmark.png);
}

#partnPic8
{
	background-image: url(/assets/llnatlab.jpg);
}

#partnPic9
{
	background-image: url(/assets/morris.png);
}

#partnPic10
{
	background-image: url(/assets/ncat.png);
}

#partnPic11
{
	background-image: url(/assets/nsuLogoFull.png);
}

#partnPic12
{
	background-image: url(/assets/paine.png);
}

#partnPic13
{
	background-image: url(/assets/sandia.png);
}

#partnPic14
{
	background-image: url(/assets/scstate.png);
}

#partnPic15
{
	background-image: url(/assets/spawar.png);
}

#partnPic16
{
	background-image: url(/assets/uvi.gif);
}

#partnPic17
{
	background-image: url(/assets/voorhees.gif);
}

#partnText1, #partnText2, #partnText3, #partnText4, #partnText5, #partnText6, #partnText7, #partnText8, #partnText9, #partnText10, #partnText11, #partnText12, #partnText13, #partnText14, #partnText15, #partnText16, #partnText17, #pplText1, #pplText2, #pplText3, #pplText4, #pplText5, #pplText6, #pplText7, #pplText8, #pplText9, #pplText10, #pplText11, #pplText12, #pplText13, #pplText14, #pplText15, #pplText16, #pplText17
{
	padding-top: 0;
	text-decoration: none;
	color: black;
	font-family: 'Poppins', sans-serif;
	line-height: 11px;
	font-size:8px;
	transition: all .2s ease-in-out;
}

#partnText8
{
	font-size: 9px;
}

#colLink
{
	text-decoration: none;
}

#partnCol1:hover #partnText1
{
	color: #F9D205;
	transition: all .2s ease-in-out;
}


#partnCol2:hover #partnText2
{
	color: #533A8E;
	transition: all .2s ease-in-out;
}

#partnCol3:hover #partnText3
{
	color: #FBCC1A;
	transition: all .2s ease-in-out;
}

#partnCol4:hover #partnText4
{
	color: #789BA1;
	transition: all .2s ease-in-out;
}

#partnCol5:hover #partnText5
{
	color: #F58026;
	transition: all .2s ease-in-out;
}

#partnCol6:hover #partnText6
{
	color: #B72D3B;
	transition: all .2s ease-in-out;
}

#partnCol7:hover #partnText7
{
	color: #0000FE;
	transition: all .2s ease-in-out;
}

#partnCol8:hover #partnText8
{
	color: #3C6CB8;
	transition: all .2s ease-in-out;
}

#partnCol9:hover #partnText9
{
	color: #FEC248;
	transition: all .2s ease-in-out;
}

#partnCol10:hover #partnText10
{
	color: #FFB531;
	transition: all .2s ease-in-out;
}

#partnCol11:hover #partnText11
{
	color: #01795E;
	transition: all .2s ease-in-out;
}

#partnCol12:hover #partnText12
{
	color: #492F92;
	transition: all .2s ease-in-out;
}

#partnCol13:hover #partnText13
{
	color: #004577;
	transition: all .2s ease-in-out;
}

#partnCol14:hover #partnText14
{
	color: #731931;
	transition: all .2s ease-in-out;
}

#partnCol15:hover #partnText15
{
	color: #D60842;
	transition: all .2s ease-in-out;
}

#partnCol16:hover #partnText16
{
	color: #F1751F;
	transition: all .2s ease-in-out;
}

#partnCol17:hover #partnText17
{
	color: #0175C5;
	transition: all .2s ease-in-out;
}


#pplText1, #pplText2, #pplText3, #pplText4, #pplText5, #pplText6, #pplText7, #pplText8, #pplText9, #pplText10, #pplText11, #pplText12, #pplText13, #pplText14, #pplText15, #pplText16, #pplText17
{
	padding: 0;
	text-align: left;
	font-size: 8px;
	line-height: 9px;
	overflow:;
}

#pplText16
{
	font-size: 8px;
}

#pplText1 a, #pplText2 a, #pplText3 a, #pplText4 a, #pplText5 a, #pplText6 a, #pplText7 a, #pplText8 a, #pplText9 a, #pplText10 a, #pplText11 a, #pplText12 a, #pplText13 a, #pplText14 a, #pplText15 a, #pplText16 a, #pplText17 a
{
	font-size: 7px;
}

#partnCol1:hover #pplText1
{
	color: #F9D205;
	transition: all .2s ease-in-out;
}

#partnCol2:hover #pplText2
{
	color: #533A8E;
	transition: all .2s ease-in-out;
}

#partnCol3:hover #pplText3
{
	color: #FBCC1A;
	transition: all .2s ease-in-out;
}

#partnCol4:hover #pplText4
{
	color: #789BA1;
	transition: all .2s ease-in-out;
}

#partnCol5:hover #pplText5
{
	color: #F58026;
	transition: all .2s ease-in-out;
}

#partnCol6:hover #pplText6
{
	color: #B72D3B;
	transition: all .2s ease-in-out;
}

#partnCol7:hover #pplText7
{
	color: #0000FE;
	transition: all .2s ease-in-out;
}

#partnCol8:hover #pplText8
{
	color: #3C6CB8;
	transition: all .2s ease-in-out;
}

#partnCol9:hover #pplText9
{
	color: #FEC248;
	transition: all .2s ease-in-out;
}

#partnCol10:hover #pplText10
{
	color: #FFB531;
	transition: all .2s ease-in-out;
}

#partnCol11:hover #pplText11
{
	color: #01795E;
	transition: all .2s ease-in-out;
}

#partnCol12:hover #pplText12
{
	color: #492F92;
	transition: all .2s ease-in-out;
}

#partnCol13:hover #pplText13
{
	color: #004577;
	transition: all .2s ease-in-out;
}

#partnCol14:hover #pplText14
{
	color: #731931;
	transition: all .2s ease-in-out;
}

#partnCol15:hover #pplText15
{
	color: #D60842;
	transition: all .2s ease-in-out;
}

#partnCol16:hover #pplText16
{
	color: #F1751F;	
	transition: all .2s ease-in-out;
}

#partnCol17:hover #pplText17
{
	color: #0175C5;
	transition: all .2s ease-in-out;
}


#pplText1 span, #pplText2 span, #pplText3 span, #pplText4 span, #pplText5 span, #pplText6 span, #pplText7 span, #pplText8 span, #pplText9 span, #pplText10 span, #pplText11 span, #pplText12 span, #pplText13 span, #pplText14 span, #pplText15 span, #pplText16 span, #pplText17 span
{
	color: black;
}

#pplText4
{
	font-size: 14px;
}

#pplPos
{
	font-weight: 500;
}

#emailDiv
{
	text-align: center;
	width: 100%;
	background: transparent;
	color: #9CCC65;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #9CCC65;
	transition: all .2s ease-in-out;
}

#emailDiv:hover
{
	background: #9CCC65;
	color: white;
	transition: all .2s ease-in-out;
}


#emailTxt
{
	font-size: 12px;
	padding: 0;
	margin: 0 auto;
	
}




#calOuter
{
	position: absolute;
	margin: 0 auto;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1;
}

#cal
{
	width: 100%;
	height: 480px;
	border: 0px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#calTitle
{
	margin-top: 100px;
}

#newsDiv
{
	
	padding-right: 20px;
	padding-left: 20px;
}

#newsCol
{
	/*background: white;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

#newsDivider
{
	padding: 0;
}

#newsYear2014, #newsYear2015, #newsYear2016, #newsYear2017, #newsYear2018
{
	height: 10%;
	color: #FAFAFA;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 5px;
	
	padding-bottom: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#newsYear2014
{
	background: #6A1B9A;
}

#newsYear2015
{
	background: #8BC34A;
}

#newsYear2016
{
	background: #FFA726;
}

#newsYear2017
{
	background: #26C6DA;
}

#newsYear2018
{
	background: #ef5350;
}

#newsCont
{
	background: white;
	height: 90%;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 15px;
	text-align: left;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#newsOutline
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 6px;
	padding-top: 6px;
	transition: all .2s ease-in-out;
}

#newsOutline:hover
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all .2s ease-in-out;
}

#newsCont span
{
	opacity: .6;
	padding-left: -10px;
}

#newsLink
{
	color: black;
	text-decoration: none;
	font-weight: 600;
}

#picsOuter
{
	height: 100%;
	padding: 0;
	margin: 0 auto;
	border: 1px solid green;
}

#picRow
{
	height: 27vh;
	margin: 0 auto;
}

#picCol
{
	padding: 5px;
}

#picCol1, #picCol2, #picCol3, #picCol4, #picCol5, #picCol6, #picCol7, #picCol8, #picCol9
{
	margin: 0 auto;
	padding: 0;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*border: 1px solid red;*/
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all .2s ease-in-out;
	cursor: pointer;
}

#picCol1:hover, #picCol2:hover, #picCol3:hover, #picCol4:hover, #picCol5:hover, #picCol6:hover, #picCol7:hover, #picCol8:hover, #picCol9:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	opacity: .8;
	transition: all .2s ease-in-out;
}

#picCol1
{
	background-image: url(/assets/pictures/Picture2Crop.png);
}
#picCol2
{
	background-image: url(/assets/pictures/Picture1Crop.png);
}
#picCol3
{
	background-image: url(/assets/pictures/Picture3Crop.png);
}
#picCol4
{
	background-image: url(/assets/pictures/Picture4Crop.png);
}
#picCol5
{
	background-image: url(/assets/pictures/Picture5Crop.png);
}
#picCol6
{
	background-image: url(/assets/pictures/Picture6Crop.png);
}
#picCol7
{
	background-image: url(/assets/pictures/Picture7Crop.png);
}
#picCol8
{
	background-image: url(/assets/pictures/Picture8Crop.png);
}
#picCol9
{
	background-image: url(/assets/pictures/Picture9Crop.png);
}

#myModal1, #myModal2, #myModal3, #myModal4, #myModal5, #myModal6, #myModal7, #myModal8, #myModal9
{
	display: none;
	position: fixed; /* Stay in place */
    z-index: 2;
	padding-top: 20px;
	left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}

#modalCont1, #modalCont2, #modalCont3, #modalCont4, #modalCont5, #modalCont6, #modalCont7, #modalCont8, #modalCont9
{
	margin: auto;
	margin-top: 100px;
    display: block;
	height: 70%;
	max-width: 85vw;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;	
}

#modalCont1
{
	background-image:url(/assets/pictures/Picture2.png);
}

#modalCont2
{
	background-image:url(/assets/pictures/Picture1.png);
}

#modalCont3
{
	background-image:url(/assets/pictures/Picture3.png);
}

#modalCont4
{
	background-image:url(/assets/pictures/Picture4.png);
}

#modalCont5
{
	background-image:url(/assets/pictures/Picture5.png);
}

#modalCont6
{
	background-image:url(/assets/pictures/Picture6.png);
}

#modalCont7
{
	background-image:url(/assets/pictures/Picture7.jpg);
}

#modalCont8
{
	background-image:url(/assets/pictures/Picture8.jpg);
}

#modalCont9
{
	background-image:url(/assets/pictures/Picture9.jpg);
}


#closeBtn
{
	color: white;
	font-size: 40px;
	transition: all .2s ease-in-out;
}

#caption
{
	margin: auto;
	height: 150px;
	color: #ffffff;
	padding: 10px;
}

#modalCont, #caption
{
	animation-name: zoomIn;
    animation-duration: 0.6s;
}

@keyframes zoomIn
{
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoomOut
{
    from {transform:scale(1)} 
    to {transform:scale(0)}
}

/*Changes font size and spacing for browser resize*/
/*
@media (max-width: 780px)
{
		
}
*/


#stats1, #stats2, #stats3
{
	height: 100px;
	width: 100%;
}

#stats1
{
	background: #DC4C46;
}

#stats2
{
	background: #4F84C4;
}

#stats3
{
	background: #45B8AC;
}

svg.radial-progress
{
    height: 60%;
    max-width: 200px;
    padding: 0;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle
{
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; /* Circumference */
    stroke-width: 10;
}

svg.radial-progress circle.incomplete
{
    opacity: 0.25;
}

svg.radial-progress circle.complete
{
    stroke-dasharray: 219.91148575129; /* Circumference */
}

svg.radial-progress text
{
    fill: #fff;
    font: 400 1em/1 'Oswald', sans-serif;
    text-anchor: middle;
}

#statRow
{
	margin-bottom: 5px;
	height: 22vh;
	/*border: 1px solid white;*/
}

#statNum, #statNum2, #statNum2l
{
	height: 60%;
	color: white;
	font-weight: 500;
	font-size: 60px;
}

#statNum2, #statNum2l
{
	background-image: url(/assets/TieColor.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#statNum2l
{ 
	padding-top: 15px;
	font-size: 40px;
}

#statChart1
{
	stroke: #fcaeae;
}

#statChart2
{
	stroke: #ff8787;
}

#statChart3
{
	stroke: #f96363;
}

#statChart4
{
	stroke: #f95252;
}

#statTitle
{
	font-family: 'Poppins', sans-serif;
	margin: 0 auto;
	color: white;
	background: transparent;
	font-size: 13px;
	padding: 0;
}

#statCaption
{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 15px;
	padding: 0;
}





/*
@media(min-width:600px)
{
	.carousel-item
	{
		font-size: 20px;
		text-align: center;
	}
	
	#longTxt
	{
		font-size: 15px;
	}
}
*/



@media(min-width:668px)
{
	#wrapper
	{
		padding-left: 0;
	}
	
	#wrapper.toggled
	{
		padding-left: 250px;
	}
	
	#sidebar-wrapper
	{
		width: 0;
	}
	
	#wrapper.toggled #sidebar-wrapper
	{
		width: 250px;
	}
	
	#page-content-wrapper
	{
		padding: 20px;
		position: relative;
	}
	
	#wrapper.toggled #page-content-wrapper
	{
		position: relative;
		margin-right: 0;
	}
	
	#contMain, #contMain2, #contMain3, #contMain4, #contMain5, #contMain6
	{
		padding: 0;
		padding-right: 27px;
		padding-left: 10px;
	}
	
	#contMain7
	{
		height: 200vh;
	}
	
	#navRow
	{
		width: 100%;
		height: 55px;
		padding: 0;
		background: #ffffff;
		box-shadow: 0 20px 38px rgba(0,0,0,0.0), 0 15px 19px rgba(0,0,0,0.05);
	}
	
	#navRowInner
	{
		position: relative;
		width: 100%;
		height: inherit;
		margin: 0 auto;
	}
	
	#splashBoxOuter
	{
		padding: 0;
	}
	
	@keyframes navMove 
	{
		0%
		{
			opacity: 0;
			top: 0px;
		}

		55%
		{
			opacity: 1;
		}

		100%
		{
			opacity: 0;
			top: 40px;
		}
	}
	
	#particles-js
	{
		padding: 0;
		padding-top: 55px;
	}
	
	#aboutTitle
	{
		margin-top: 60px;
	}
	
	#aboutTitle1, #aboutTitle2, #aboutTitle3, #aboutTitle4
	{
		font-size: 30px;
	}
	
	#aboutPic
	{
		height: 45vh;
	}
	
	.carousel-control-next-icon:after
	{
		content: '>';
		font-size: 55px;
		color: grey;
		opacity: inherit;
	}

	.carousel-control-prev-icon:after
	{
		content: '<';
		font-size: 55px;
		color: grey;
		opacity: inherit;
	}
	
	.carousel-item
	{
		/*height: 35vh;*/
		height: 100%;
		width: 100;
		margin: 0 auto;
		background: #ffffff;
		padding: 20px;
		padding-right: 100px;
		padding-left: 100px;
		padding-bottom: 35px;
		font-size: 20px;
		text-align: center;
	}
	
	#longTxt
	{
		font-size: 15px;
	}
	
	#main2Div
	{
		padding: 0;
	}
	
	#contMain4
	{
		padding: inherit;
	}

	#partnText1, #partnText2, #partnText3, #partnText4, #partnText5, #partnText6, #partnText7, #partnText8, #partnText9, #partnText10, #partnText11, #partnText12, #partnText13, #partnText14, #partnText15, #partnText16, #partnText17, #pplText1, #pplText2, #pplText3, #pplText4, #pplText5, #pplText6, #pplText7, #pplText8, #pplText9, #pplText10, #pplText11, #pplText12, #pplText13, #pplText14, #pplText15, #pplText16, #pplText17
	{
		padding-top: 8%;
		font-size: 12px;
	}
	
	#partnPic1, #partnText1, #partnPic2, #partnText2, #partnPic3, #partnText3, #partnPic4, #partnText4, #partnPic5, #partnText5, #partnPic6, #partnText6, #partnPic7, #partnText7, #partnPic8, #partnText8, #partnPic9, #partnText9, #partnPic10, #partnText10, #partnPic11, #partnText11, #partnPic12, #partnText12, #partnPic13, #partnText13, #partnPic14, #partnText14, #partnPic15, #partnText15, #partnPic16, #partnText16, #partnPic17, #partnText17
	{
		padding: 0;
		padding-top: 30px;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		text-align: center;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	#partnText8
	{
		font-size: 13px;
	}
	
	#pplText1, #pplText2, #pplText3, #pplText4, #pplText5, #pplText6, #pplText7, #pplText8, #pplText9, #pplText10, #pplText11, #pplText12, #pplText13, #pplText14, #pplText15, #pplText16, #pplText17
	{
		padding: 0;
		text-align: left;
		font-size: 13px;
		line-height: inherit;
	}
	
	#pplText1 a, #pplText2 a, #pplText3 a, #pplText4 a, #pplText5 a, #pplText6 a, #pplText7 a, #pplText8 a, #pplText9 a, #pplText10 a, #pplText11 a, #pplText12 a, #pplText13 a, #pplText14 a, #pplText15 a, #pplText16 a, #pplText17 a
	{
		font-size: 10px;
	}
	
	#pplText4
	{
		font-size: 12px;
		line-height: 12px;
		overflow-wrap: break-word;
	}
	
	svg.radial-progress
	{
		height: 60%;
		max-width: 200px;
		padding: .2em;
		transform: rotate(-90deg);
		width: 100%;
	}
	
	#cal
	{
		width: 100%;
		height: 670px;
		border: 0px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	
	#calOuter, #splashBoxInner2
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#newsYear2014, #newsYear2015, #newsYear2016, #newsYear2017, #newsYear2018
	{
		height: 10%;
		color: #FAFAFA;
		font-size: 25px;
	}
	
	#newsDiv
	{
		height: 80vh;
	}
	
	#newsCont
	{
		font-size: 18px;
	}
	
	#statRow
	{
		margin-bottom: 30px;
		height: 22vh;
		/*border: 1px solid white;*/
	}
	
	#statTitle
	{
		font-size: 20px;
	}
	
	#statNum, #statNum2, #statNum2l
	{
		height: 80%;
		font-weight: 500;
		font-size: 100px;
	}
	
	#statNum
	{
		height: 70%;
		padding: 0;
	}
	
	#statNum2l
	{
		font-size: 85px;
	}
	
	#emailDiv
	{
		padding-top: auto;
		padding-bottom: auto
	}
		
}


