body
{
	overflow-x: hidden;
}

#wrapper
{
	height: 200vh;
	background: #333333;
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled
{
	padding-left: 250px;
}

#sidebar-wrapper
{
	z-index: 0;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper
{
	width: 250px;
}

#page-content-wrapper
{
	color: #ffffff;
	margin-top: 50px;
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper
{
	position: absolute;
	margin-right: -250px;
}

#menuDiv
{
	position:fixed;
	top: 0;
	background: #262626;
	height: 50px;
	width: 100%;
	z-index: 1;
}

#menuIconDiv
{
	position: absolute;
	padding: 0;
	padding-top: 7px;
	background: transparent;
	margin-top: 4px;
	height: 42px;
	width: 42px;
	border-radius: 10px;
	/*border: 1px solid white;*/
	opacity: .8;
	transition: all .2s ease-in-out;
}

#menuIconDiv:hover
{
	opacity: 1;
}

#menuLine
{
	background: white;
	padding: 0;
	width: 50%;
	height: 2px;
	margin: 0 auto;
	margin-top: 5px;
	transition: all .2s ease-in-out;
	
}

#tvLogoDiv
{
	height: 100%;
	background-image: url(/assets/TvLogoGif.gif);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
}


/* Sidebar Styles */

.sidebar-nav
{
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li
{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #999999;
	transition: all .2s ease-in-out;
}

.sidebar-nav li a:hover
{
	text-decoration: none;
	color: #ffffff;
	background: #d32c42;
	transition: all .2s ease-in-out;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus
{
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand
{
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a
{
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover
{
	color: #fff;
	background: none;
}

@media(min-width:768px)
{
	#wrapper
	{
		padding-left: 0;
	}
	
	#wrapper.toggled
	{
		padding-left: 250px;
	}
	
	#sidebar-wrapper
	{
		width: 0;
	}
	
	#wrapper.toggled #sidebar-wrapper
	{
		width: 250px;
	}
	
	#page-content-wrapper
	{
		padding: 20px;
		position: relative;
	}
	
	#wrapper.toggled #page-content-wrapper
	{
		position: relative;
		margin-right: 0;
	}
}